<div class="restaurants list">
  <h1>All Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <p><%= restaurant.category %> | <%= restaurant.address %> | <%= restaurant.phone_number %></p>
    <%# <%= link_to "edit", edit_restaurant_path(restaurant) %>
    <%# <%= link_to "delete", restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <br>
  <br>
</div>
<%= link_to "Add a new restaurant", new_restaurant_path %>
